#billlist-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.billlist-container {
  display: flex;
  flex-direction: row;
  margin-bottom: .625rem;
}


.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  width: 7.5rem;
  outline: none;
  height: 2.5rem;
  border: .1875rem solid #B89767;
  margin-right: 1.875rem;
}

.link:hover {
  background-color: grey;
}


.show-button {
  margin-left: 3.125rem;
  margin-right: 3.125rem;
  background-color: white;
  color: black;
  width: 7.5rem;
  outline: none;
  height: 2.5rem;
  border: .1875rem solid #B89767;
  cursor: pointer;
}

.show-button:hover {
  background-color: grey;
}

.billldisplay-container {
  width: 90%;
  padding: .625rem;
  border-top: .25rem solid grey;
  border-left: .25rem solid grey;
  border-right: .25rem solid grey;
}