#login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 21.875rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 0.3125rem solid gray;

  input {
    margin: 0.625rem;
    width: 100%;
    height: 2.5rem;
    border: none;
    border-bottom: .1875rem solid black;
  }

  .login-button {
    margin-top: 0.700rem;
    background-color: white;
    color: black;
    width: 7.5rem;
    outline: none;
    height: 2.5rem;
    border: 0.1875rem solid #B89767;
    cursor: pointer;
  }
  
  .login-button:disabled {
    background-color: #D3D3D3;
    width: 7.5rem;
    outline: none;
    height: 2.5rem;
    border: .1875rem solid #D3D3D3;
    cursor: default;
  }

  .login-button:hover {
    background-color: grey;
  }

  .error-field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    background-color: red;
    color: white;
    margin-bottom: 1.25rem;
    margin-top: .625rem;
  }
}

.registration-link {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
  width: 10rem;
  outline: none;
  height: 2rem;
  border: .1875rem solid #B89767;
  margin-right: 1.875rem;
}

.registration-link:hover {
  background-color: grey;
}
