#createbills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;

  .createbills-form {
    width: 21.875rem;
  
    padding: 1.25rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    border: 0.3125rem solid gray;
  
    background-color: white;
  
    input {
      width: 100%;
      height: 2.5rem;
  
      margin: 0.625rem;
  
      border: none;
      border-bottom: .1875rem solid black;
    };
  
    .comment {
      height: 9.375rem;
  
      border: .0625rem solid black;
      border-bottom: .1875rem solid black;
    };
  
    .save-button {
      width: 7.5rem;
      height: 2.5rem;
  
      border: .1875rem solid #B89767;
  
      background-color: white;
  
      outline: none;
      color: black;
  
      cursor: pointer;
    };
  
    .save-button:hover {
      background-color: grey;
    };
  
    .error-field {
      width: 100%;
      height: 1.875rem;
  
      margin-bottom: 1.25rem;
      margin-top: .625rem;
  
      display: flex;
      align-items: center;
      justify-content: center;
  
      background-color: red;
  
      color: white;
    };
  
    .success-field {
      width: 100%;
      height: 1.875rem;
  
      margin-bottom: 1.25rem;
      margin-top: .625rem;
  
      display: flex;
      align-items: center;
      justify-content: center;
  
      background-color: rgb(85, 219, 61);
  
      color: white;
    };
  };

  .backlink-container {
    width: 100%;
  
    display: flex;
    justify-content: flex-end;
  
    .backlink {
      width: 7.5rem;
      height: 2.5rem;
  
      margin-right: 1.875rem;
  
      display: flex;
      align-items: center;
      justify-content: center;
  
      border: .1875rem solid #B89767;
  
      background-color: white;
  
      text-decoration: none;
      color: black;
      outline: none;
    }
  
    .backlink:hover {
      background-color: grey;
    };
  };
};

