.mainheader-container {
  width: 100%;
  height: 6.25rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-container {
  background-color: green;
  display: flex;
  align-items: center;
}

.nav-link {
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 3.125rem;
  margin-left: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.25rem;
}

.nav-link:hover {
  outline: none;
  background-color: white;
  color: black;
}

.logout-button {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  outline: none;
  border: .1875rem solid #B89767;
  cursor: pointer;
}

.logout-button:hover {
  background-color: white;
  color: black;
}

.mainbody-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-container {
  padding: 1.25rem;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: .3125rem solid grey;
}